<main class="d-flex min-vh-100">
    <fieldset class="container  mt-5">
        <legend *ngIf="fridgeItem" class="mb-4">Change entry of {{ fridgeItem.name }}
        </legend>
        <legend *ngIf="!fridgeItem" class="mb-4">Update entry</legend>
        <form [formGroup]="form" (ngSubmit)="update()">
            <div class="form-group row">
                <label class="col-2 col-form-label" for="name">Name</label>
                <input type="text" class="col-10 form-control" id="name" placeholder="Name" formControlName="nameControl">
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label" for="quantity">Quantity</label>
                <input type="text" class="col-10 form-control" id="quantity" placeholder="Quantity" formControlName="quantityControl">
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label" for="date">Date</label>
                <input type="date" class="col-10 form-control" id="date" placeholder="Date" formControlName="dateControl">

            </div>
            <div class="form-group row  justify-content-end">
                <button type="submit" class="col-4 btn btn-secondary">Update</button>
                <div class="col-2"></div>
                <button type="button" class="col-4 btn btn-secondary" (click)="cancel() ">Cancel</button>
            </div>
        </form>
    </fieldset>
</main>