fieldset.container {
    text-align: center;
    max-width: 400px; 
    margin: auto; 
    padding: 20px; 
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    margin-top: 100px;
}

fieldset.container legend {
    margin-bottom: 10px;
    color: #008000;
}

button.btn {
    margin-top: 20px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 12px;
}

button.btn.btn-secondary {
    background-color: #008000;
    border-color: #008000;
    color: white;
}

input[type='text'],
input[type='date'] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px; 
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #008000;
}



input[type='text']:focus,
input[type='date']:focus {
    outline: none;
    box-shadow: none;
}


.form-group.row {
    margin-bottom: 15px;
}






