<div *ngIf="!deleted" class=" container mt-3 ">
    <h3 class="m-3">My Fridge Items</h3>
    <div class="text-end">
        <a routerLink="/fridgeItem"><i class="bi bi-plus-circle fs-4"></i> add item</a>
    </div>
    <div class="table-responsive">
        <table class="m-3 table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col ">Nr</th>
                    <th scope="col ">Fridge Item</th>
                    <th scope="col ">Quantity</th>
                    <th scope="col ">Expiry Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fridgeItem of fridgeItems; let i=index; ">
                    <td>{{ i+1 }}</td>
                    <td>{{ fridgeItem.name }}</td>
                    <td>{{ fridgeItem.quantity }}</td>
                    <td>
                        {{ fridgeItem.date | date: 'dd.MM.yyyy' }}
                        <a [routerLink]="['/fridgeItem', fridgeItem._id]"> <span class=" bi bi-pencil-square px-5 "></span></a>
                        <span (click)="delete(fridgeItem._id)" style="cursor: pointer;" class=" bi bi-trash px-5 "></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="deleted" class=" container mt-3 ">
    <h3>Data has been deleted!</h3>
    <button type="button" class="btn btn-secondary" (click)="reload(false)">Back</button>
</div>    